 <tr>

     <td>
         <div class="name">{{full_name}}Kai Padilla</div>
     </td>
     <td>
         <div class="phone">{{mobile_number}}+63901234576</div>
     </td>
     <td>
         <div class="email">{{email_address}}kaipadilla@google.com</div>
     </td>

     <td>
         <div class="address">{{home_address}}2401 Taft Ave, Malate, Manila, 1004 Metro Manila</div>
     </td>
     <td>
         <div class="registered-date">{{registered_date}}Sept 10, 2024</div>
     </td>
     <td>
         <div class="next-visit">{{next_visit_date}}Sept 18, 2024</div>
     </td>
     <td>
         <div class="treatment">{{treatment_type}}Wisdom Tooth Removal</div>
     </td>

 </tr>
