<!-- `NAME PAGE, SEARCH BOX-->
<div class="frame-1">
  <div class="name-page"> To Do</div>
  <div class="search-settings-group">
    <form action="/patient_list" method="GET">
      <img class="icon-search" src="/img/icon-search.svg" />
      <input type="text" class="search-box" placeholder="Search for a Patient" />
    </form>
  </div>

</div>
<!--`END -->

<!-- `TITLES -->

<div class="frame-2">

  <div class="title-divider"></div>

  <div class="title-group">
    <div class="title-element">Appointments</div>

  </div>
  <div class="title-divider-2"></div>
  <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->

<div class="frame-3 todo-file">


  <!-- `NUM APPOINTMENTS , DATE, BUTTONS-->
  <div class="schedule-group">

    <div class="appointment-number-elements">
      <img class="icon-calendar" src="/img/icon-calendar.svg" />
      <div class="appointment-number">{{appointmentCount}}</div>
      <div class="total-appointment-text">Total Appointment</div>
    </div>

    <div class="date-elements">
      <img class="vector" id="prev-date-btn" src="/img/icon-arrow_drop_left.svg" />
      <div class="date-text" id="date-display"></div>
      <img class="img" id="next-date-btn" src="/img/icon-arrow_drop_right.svg" />

    </div>

    <div class="buttons-group">
      <div class="button create-appointment-elements">
        <img class="icon icon-add" src="/img/icon-add.svg" />
        <div class="text-buttons create-appointment-text">Create Appointment</div>
      </div>

      {{>B_Todo_form}}



      <div class="divider"></div> <!-- Divider between buttons -->
      
     

      <div class="button filter-elements" id="procedure-filter">
         <button class="filter-text"> <img class="icon-filter" src="/img/icon-filter.svg" />
       Filter</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
          <a href="#">Option 4</a>
        </div>
      </div>

      
      
      
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button edit-elements">
        <img class="icon icon-edit" src="/img/icon-edit.svg" />
        <div class="text-buttons text-wrapper">Edit</div>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button trash-elements">
        <img class="icon icon-trash" src="/img/icon-trash.svg" />
        <div class="text-buttons text-wrapper">Delete</div>
      </div>
    </div>

  </div>
  <!--`END SCHEDULE GROUP-->



  <!-- `LIST OF CATEGORY -->

  <table>
    <thead>
      <tr>
        <th>
          <label class="appointment-checkbox">
            <input type="checkbox" value="{{check_patient}}" onclick="toggleRowHighlight(this)" />
            <span class="custom-checkbox"></span>
          </label>
        </th>

        <th>
          <div class="patient-name-elements">
            <div class="category-text">NAME</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="phone-elements">
            <div class="category-text">PHONE</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="email-elements">
            <div class="category-text">EMAIL</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>




        <th>
          <div class="time-elements">
            <div class="category-text">TIME</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="last-treatment-elements">
            <div class="category-text">TREATMENT</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

      </tr>
    </thead>
    <!-- `END LIST OF CATEGORY -->


    <!-- `PATIENT LIST-->
    <tbody>

      {{#each patients}}

      <tr>


        <td>
          <label class="appointment-checkbox">
            <input type="checkbox" value="{{check_patient}}" onclick="toggleRowHighlight(this)" />
            <span class="custom-checkbox"></span>
          </label>
        </td>



        <td>
          <div class="name" onclick="window.location.href='/patient-information/{{{id}}}'" style="cursor: pointer;">
            {{firstName}} {{lastName}}</div>
        </td>
        <td>

          <div class="phone">{{{contact}}}</div>
        </td>
        <td>

          <div class="email">{{{email}}}</div>
        </td>

        <div class="time">{{{apointment_time}}}</div>
        </td>
        <td>
          <div class="treatment">{{{latestProcedure}}}</div>

        </td>

      </tr>
      {{/each}}

    </tbody>
  </table>
  <!-- `END PATIENT LIST-->











</div>
</div>
<script src="B_Todo.js"></script>
