<!-- +NAME PAGE, SEARCH BOX-->
<div class="frame-1">
  <div class="name-page"> Patients</div>
  <div class="search-settings-group">
    <form action="/patient_list" method="GET">
      <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer">
        <img class="icon-search" src="/img/icon-search.svg" />
      </button>
      <input name="search" required type="text" class="search-box" placeholder="Search for a Patient" />
    </form>
  </div>

</div>
<!--`END NAME PAGE-->


<!-- `TITLES -->

<div class="frame-2 patient-list-frame2">

  <div class="title-divider"></div>

  <div class="title-group">
    <div class="title-element">Patient List</div>
    <img class="icon-solid-right-arrow" src="/img/icon-solid-right-arrow.svg" />
    <div class="title-element-2">Patient Detail</div>
  </div>
  <div class="title-divider-2"></div>
  <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->

<!-- +PATIENT DETAILS-->
<div class="frame-3 patient-list-file">


  <!-- `NUM patientS , DATE, BUTTONS-->
  <div class="schedule-group">

    <div class="patient-number-elements">
      <img class="icon-calendar" src="/img/icon-appointment-user.svg" />
      <div class="patient-number">{{patientCount}}</div>
      <div class="total-patient-text">Total Active Patients</div>
    </div>



    <div class="buttons-group">
      <div class="button create-patient-elements">
        <img class="icon icon-add" src="/img/icon-add.svg" />
        <div class="text-buttons create-patient-text" onclick="createPatient()">Create patient</div>
      </div>

      <div class="buttons-group">
        <div class="button filter-elements" id="procedure-filter">
          <button class="filter-text">
            <img class="icon-filter" src="/img/icon-filter.svg" />
            Filter
          </button>
        </div>
      </div>
      {{>O_Filter_form}}


    </div>

  </div>
  <!--`END SCHEDULE GROUP-->


  <!-- `LIST OF CATEGORY -->

  <table>
    <thead>
      <tr>
        <th>
          <div class="category-text">NAME</div>
        </th>

        <th>
          <div class="category-text">PHONE</div>
        </th>

        <th>
          <div class="category-text">EMAIL</div>
        </th>

        <th>
          <div class="category-text">ADDRESS</div>
        </th>



        <th>
          <div class="category-text">LAST VISIT</div>
        </th>

        <th>
          <div class="category-text">LAST TREATMENT</div>
        </th>

        <th>
          <div class="category-text">STATUS</div>
        </th>

      </tr>
    </thead>
    <!-- `END LIST OF CATEGORY -->


    <!-- `PATIENT LIST-->
    <tbody id="patient-table">

      {{#each patients}}

      <tr>

        <td>
          <a class="name" onclick="window.location.href='/patient-information/{{{id}}}'">
            {{firstName}} {{lastName}}</a>
        </td>

        <td>
          <a onclick="window.location.href='/patient-information/{{{id}}}'" class="phone">{{{contact}}}</a>
        </td>

        <td>
          <a onclick="window.location.href='/patient-information/{{{id}}}'" class="email">{{{email}}}</a>
        </td>

        <td>
          <a onclick="window.location.href='/patient-information/{{{id}}}'" class="address">{{{homeAddress}}}</a>
        </td>

        <td>
          <div class="next-visit">{{{latestTreatmentDate}}}</div>
        </td>

        <td>
          <div class="treatment">{{{latestProcedure}}}</div>
        </td>

        <td>
          <div class="status">
            {{#if isActive}}
            Active
            {{else}}
            Inactive
            {{/if}}
            </div>
        </td>

      </tr>
      {{/each}}

    </tbody>
  </table>
  <!-- `END PATIENT LIST-->


  <div class="pagination-controls">
    {{#if (gt currentPage 1)}}
    <a href="/patient_list?page={{subtract currentPage 1}}{{#if search}}&search={{search}}{{/if}}" class="prev-button">
      <img src="/img/icon-solid-left-arrow.svg" alt="Previous" />

    </a>
    {{/if}}

    <div class="page-number">Page {{currentPage}} of {{totalPages}}</div>

    {{#if (lt currentPage totalPages)}}
    <a href="/patient_list?page={{add currentPage 1}}{{#if search}}&search={{search}}{{/if}}" class="next-button">
      <img src="/img/icon-solid-right-arrow.svg" alt="Next" />
    </a>
    {{/if}}
  </div>

  {{> C_Patient_form}}

</div>
</div>
</div>
<!--+END MAIN CONTENT-->
