<!-- +NAME PAGE, SEARCH BOX-->
<div class="frame-1">
  <div class="name-page"> Patients</div>
  <div class="search-settings-group">
    <img class="icon-search" src="/img/icon-search.svg" />
    <input type="text" class="search-box" placeholder="Search for a Patient" />
  </div>

</div>
<!--`END NAME PAGE-->


<!-- `TITLES -->

<div class="frame-2">

  <div class="title-divider"></div>

  <div class="title-group">
    <div class="title-element">Patient List</div>
    <img class="icon-solid-right-arrow" src="/img/icon-solid-right-arrow.svg" />
    <div class="title-element-2">Patient Detail</div>
  </div>
  <div class="title-divider-2"></div>
  <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->

<!-- +PATIENT DETAILS-->
<div class="frame-3 patient-list-file">


  <!-- `NUM patientS , DATE, BUTTONS-->
  <div class="schedule-group">

    <div class="patient-number-elements">
      <img class="icon-calendar" src="/img/icon-appointment-user.svg" />
      <div class="patient-number">{{patientCount}}</div>
      <div class="total-patient-text">Total Patients</div>
    </div>



    <div class="buttons-group">
      <div class="button create-patient-elements">
        <img class="icon icon-add" src="/img/icon-add.svg" />
        <div class="text-buttons create-patient-text">Create patient</div>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button filter-elements">
        <img class="icon-filter" src="/img/icon-filter.svg" />
        <div class="text-buttons text-wrapper">Filters</div>
        <select id="procedure-filter" onchange="filterPatients()">
          <option value="">Select a Procedure</option>
        </select>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button edit-elements">
        <img class="icon icon-edit" src="/img/icon-edit.svg" />
        <div class="text-buttons text-wrapper">Edit</div>
      </div>

    </div>

  </div>
  <!--`END SCHEDULE GROUP-->


  <!-- `LIST OF CATEGORY -->

  <table>
    <thead>
      <tr>
        <th>
          <div class="patient-name-elements">
            <div class="category-text">NAME</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="phone-elements">
            <div class="category-text">PHONE</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="email-elements">
            <div class="category-text">EMAIL</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="address-elements">
            <div class="category-text">ADDRESS</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="registered-elements">
            <div class="category-text">REGISTERED</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="last-visit-elements">
            <div class="category-text">LAST VISIT</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

        <th>
          <div class="last-treatment-elements">
            <div class="category-text">LAST TREATMENT</div>
            <img class="icon-updown" src="/img/icon-updown.svg" />
          </div>
        </th>

      </tr>
    </thead>
    <!-- `END LIST OF CATEGORY -->


    <!-- `PATIENT LIST-->
    <tbody>

      {{#each patients}}

      <tr>

        <td>
          <div class="name" onclick="window.location.href='/patient-information/{{{id}}}'" style="cursor: pointer;">
            {{firstName}} {{lastName}}</div>
        </td>
        <td>

          <div class="phone">{{{contact}}}</div>
        </td>
        <td>

          <div class="email">{{{email}}}</div>
        </td>

        <td>

          <div class="address">{{{homeAddress}}}</div>
        </td>
        <td>

          <div class="registered-date">{{registered_date}}</div>
        </td>
        <td>

          <div class="next-visit">{{{latestTreatmentDate}}}</div>
        </td>
        <td>
          <div class="treatment">{{{latestProcedure}}}</div>

        </td>

      </tr>
      {{/each}}

    </tbody>
  </table>
  <!-- `END PATIENT LIST-->


</div>
</div>
</div>
<!--+END MAIN CONTENT-->
