<!-- `NAME PAGE, SEARCH BOX-->
<div class="frame-1">
    <div class="name-page">Services</div>
    <div class="search-settings-group">
        <form action="/patient_list" method="GET">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer">
                <img class="icon-search" src="/img/icon-search.svg" />
            </button>
            <input name="search" required type="text" class="search-box" placeholder="Search for a Patient" />
        </form>
    </div>

</div>
<!--`END -->

<!-- `TITLES -->

<div class="frame-2 services-frame2">

    <div class="title-divider"></div>

    <div class="title-group">
        <div class="title-element">Active Services</div>
    </div>
    <div class="title-divider-2"></div>
    <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->


<div class="frame-3 services-file">


    <!-- `NUM treatments , DATE, BUTTONS-->
    <div class="treatment-group">

        <div class="treatment-number-elements">
            <img class="icon-stethoscope" src="/img/icon-stethoscope.svg" />
            <div class="treatment-number">{{serviceCount}}</div>
            <div class="total-treatment-text">Services</div>
        </div>

        <div class="buttons-group">
            <div class="button create-treatment-elements" id="add-service">
                <img class="icon icon-add" src="/img/icon-add.svg" />
                <div class="text-buttons add-treatment-text" >Add Service</div>
            </div>        

        </div>

        

    </div>
    <!--`END SCHEDULE GROUP-->

{{>D_Services_form}}



    <!-- `LIST OF CATEGORY -->
    <table>
        <thead>
            <tr>


                <th>
                    <div class="patient-name-elements">
                        <div class="category-text">NAME</div>
                    </div>
                </th>

                <th>
                    <div class="phone-elements">
                        <div class="category-text">ESTIMATED PRICE</div>
                    </div>
                </th>

                <th>
                    <div class="email-elements">
                        <div class="category-text">ORTHODONTIC</div>
                    </div>
                </th>



            </tr>
        </thead>
        <!-- `END LIST OF CATEGORY -->


        <!-- `TREATMENT LIST-->
        <tbody>

            <!-- #each treatment_patient -->
            {{#each services}}

            <tr>

                <td>
                    <div class="name" onclick="window.location.href='/patient-information/{{{id}}}'"
                        style="cursor: pointer;">
                        {{{service}}}</div>
                </td>
                <td>

                    <div class="phone">{{{price}}}</div>
                </td>
                <td>

                    <div class="email">{{{type}}}</div>
                </td>


            </tr>
            {{/each}}
            <!--  /each -->

        </tbody>
    </table>
    <!-- `END TREATMENT LIST-->








</div>
</div>
</div>
<!--+END MAIN CONTENT-->

<script src="O_Filter_form.js"></script>
<script src="/js/D_Services_form.js"></script>
