<script>
    function getMonthlyCounts(){
        let monthlyCounts = [];

        {{#each monthlyCounts}}
            monthlyCounts.push({{{this}}});
        {{/each}}

        return monthlyCounts;
    }
</script>


<!-- +NAME PAGE, SEARCH BOX-->
<div class="frame-1">
    <div class="name-page"> Treatments</div>
    <div class="search-settings-group">
        <form action="/patient_list" method="GET">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer">
                <img class="icon-search" src="/img/icon-search.svg" />
            </button>
            <input name="search" required type="text" class="search-box" placeholder="Search for a Patient" />
        </form>
    </div>

</div>
<!--`END NAME PAGE-->


<!-- `TITLES -->

<div class="frame-2 report-frame2">

    <div class="title-divider"></div>

    <div class="title-group">
        <div class="title-element">Recent Activity</div>


    </div>
    <div class="title-divider-2"></div>
    <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->

<!-- +PATIENT DETAILS-->
<div class="frame-3">
    <div class="dashboard-group">

        <!-- `Card for Appointments -->

        <div class="card">
            <h3>Monthly Appointments</h3>
            <p>Appointments: {{appointmentCount}}</p>
            <div class="chart-container">
                <canvas id="appointmentsChart" class="appointment-chart"></canvas>
            </div>


        </div>

        <!-- `END OF APPOINTMENT CHART-->



        <!-- Card for Active Orthodontic Patients -->
        <div class="card">
            <h3>Active Orthodontic Patients</h3>

            <p id="active-patients-count">Active Patients: {{orthoCount}}</p>
            <!--  <button class="filter-button" onclick="toggleFilterDropdown()">Filter</button>-->

            <form id="active-orthodontics-form" name="active-orthodontics-form">
                <table class="patient-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Services</th>
                        </tr>
                    </thead>

                    
                        <tbody id="patientTableBody">
                            {{#each patients}}
                            <tr data-appointment-month="january">
                                <td><input type="checkbox" name="active-patient-row" class="patient-checkbox" value="{{{patientID}}}{{{service}}}"/></td>
                                <td>{{{patientName}}}</td>
                                <td>{{{service}}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    
                </table>
                <button type="submit">Mark Orthodontics Finished</button>
            </form>
        </div>


        <!-- `Card for Frequency Distribution -->
        <div class="card">
            <h3>Frequency Distribution</h3>
            <div class="controls">
                <!-- Add Service and Remove Service Buttons -->
                <button class="add-services-form" id="toggleFormButton">Add Service</button>
                <button class="remove-services-form" id="removeServiceButton">Remove Service</button>
                <button class="filter-month-form" id="toggleFilterButton">Filter Month</button>
            </div>

            <!-- Month Filter -->
            <div id="monthFilterContainer" class="month-filter hidden">
                <label for="monthSelect">Filter by Month:</label>
                <select id="monthSelect">
                    <option value="All">All</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sept">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                </select>
                <button id="applyFilterButton">Apply Filter</button>
            </div>


            <!-- Forms for Adding and Removing Services -->
            <div id="add-service-form" style="display: none;">
                <h4>Add Service</h4>
                <form id="serviceForm">
                    <label for="serviceSelect">Select Service:</label>
                    <select id="serviceSelect" name="service">
                        <option value="Braces">Braces</option>
                        <option value="Invisalign">Invisalign</option>
                        <option value="Retainers">Retainers</option>
                        <option value="Teeth Whitening">Teeth Whitening</option>
                        <option value="Fillings">Fillings</option>
                    </select>
                    <button type="button" id="submitServiceButton">Add</button>
                </form>
            </div>

            <div id="remove-service-form" style="display: none;">
                <h4>Remove Service</h4>
                <form id="removeServiceForm">
                    <label for="removeServiceSelect">Select Service:</label>
                    <select id="removeServiceSelect" name="removeService">
                        <option value="Braces">Braces</option>
                        <option value="Invisalign">Invisalign</option>
                        <option value="Retainers">Retainers</option>
                        <option value="Teeth Whitening">Teeth Whitening</option>
                        <option value="Fillings">Fillings</option>
                    </select>
                    <button type="button" id="submitRemoveServiceButton">Remove</button>
                </form>
            </div>

            <canvas id="frequencyChart"></canvas>
        </div>


        <!-- `END DASHBOARD GROUP-->

    </div>



    <!--To render the charts-->
    <script src="E_Report.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
