<script>
    function getMonthlyCounts(){
        let monthlyCounts = [];

        {{#each monthlyCounts}}
            monthlyCounts.push({{{this}}});
        {{/each}}

        return monthlyCounts;
    }

    function getYearFrequency(){
        let yearlyFrequencyCount = {
            yearlyUniqueProcedures: [],
            yearlyCounts: [],

            JanServices: [],
            JanCounts: [],

            FebServices: [],
            FebCounts: [],

            MarServices: [],
            MarCounts: [],
            
            AprServices: [],
            AprCounts: [],
            
            MayServices: [],
            MayCounts: [],
            
            JunServices: [],
            JunCounts: [],
            
            JulServices: [],
            JulCounts: [],
            
            AugServices: [],
            AugCounts: [],
            
            SepServices: [],
            SepCounts: [],
            
            OctServices: [],
            OctCounts: [],
            
            NovServices: [],
            NovCounts: [],
            
            DecServices: [],
            DecCounts: []
        };

        {{#each yearlyUniqueProcedures}}
            yearlyFrequencyCount.yearlyUniqueProcedures.push("{{{this.name}}}");
            yearlyFrequencyCount.yearlyCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.JanServices}}
            yearlyFrequencyCount.JanServices.push("{{{this.name}}}");
            yearlyFrequencyCount.JanCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.FebServices}}
            yearlyFrequencyCount.FebServices.push("{{{this.name}}}");
            yearlyFrequencyCount.FebCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.MarServices}}
            yearlyFrequencyCount.MarServices.push("{{{this.name}}}");
            yearlyFrequencyCount.MarCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.AprServices}}
            yearlyFrequencyCount.AprServices.push("{{{this.name}}}");
            yearlyFrequencyCount.AprCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.MayServices}}
            yearlyFrequencyCount.MayServices.push("{{{this.name}}}");
            yearlyFrequencyCount.MayCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.JunServices}}
            yearlyFrequencyCount.JunServices.push("{{{this.name}}}");
            yearlyFrequencyCount.JunCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.JulServices}}
            yearlyFrequencyCount.JulServices.push("{{{this.name}}}");
            yearlyFrequencyCount.JulCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.AugServices}}
            yearlyFrequencyCount.AugServices.push("{{{this.name}}}");
            yearlyFrequencyCount.AugCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.SepServices}}
            yearlyFrequencyCount.SepServices.push("{{{this.name}}}");
            yearlyFrequencyCount.SepCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.OctServices}}
            yearlyFrequencyCount.OctServices.push("{{{this.name}}}");
            yearlyFrequencyCount.OctCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.NovServices}}
            yearlyFrequencyCount.NovServices.push("{{{this.name}}}");
            yearlyFrequencyCount.NovCounts.push({{{this.count}}});
        {{/each}}

        {{#each servicesByMonth.DecServices}}
            yearlyFrequencyCount.DecServices.push("{{{this.name}}}");
            yearlyFrequencyCount.DecCounts.push({{{this.count}}});
        {{/each}}

        return yearlyFrequencyCount;
    }
</script>


<!-- NAME PAGE, SEARCH BOX-->
<div class="frame-1">
    <div class="name-page"> Services</div>
    <div class="search-settings-group">
        <form action="/patient_list" method="GET">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer">
                <img class="icon-search" src="/img/icon-search.svg" />
            </button>
            <input name="search" required type="text" class="search-box" placeholder="Search for a Patient" />
        </form>
    </div>

</div>
<!--`END NAME PAGE-->


<!-- `TITLES -->

<div class="frame-2 report-frame2">

    <div class="title-divider"></div>

    <div class="title-group">
        <div class="title-element">Recent Activity</div>


    </div>
    <div class="title-divider-2"></div>
    <div class="indicator-line"></div>

</div>
<!-- `END TITLES -->

<!-- +PATIENT DETAILS-->
<div class="frame-3">
    <div class="dashboard-group">

        <!-- `Card for Appointments -->

        <div class="card">
            <h3>Monthly Appointments</h3>
            <p>Appointments: {{appointmentCount}}</p>
            <div class="chart-container">
                <canvas id="appointmentsChart" class="appointment-chart"></canvas>
            </div>


        </div>

        <!-- `END OF APPOINTMENT CHART-->



        <!-- Card for Orthodontic Patients -->
        <div class="card">
            <h3>Orthodontic Patients</h3>

            <p id="active-patients-count">Patients: {{orthoCount}}</p>
            <!--  <button class="filter-button" onclick="toggleFilterDropdown()">Filter</button>-->

            <form id="active-orthodontics-form" name="active-orthodontics-form">
                <table class="patient-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Services</th>
                        </tr>
                    </thead>

                    
                        <tbody id="patientTableBody">
                            {{#each patients}}
                            <tr data-appointment-month="january">
                                <td><input type="checkbox" name="active-patient-row" class="patient-checkbox" value="{{{patientID}}} {{{service}}}"/></td>
                                <td>{{{patientName}}}</td>
                                <td>{{{service}}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    
                </table>
                <button class="mark-ortho-button" type="submit">Mark Orthodontics Finished</button>
            </form>
        </div>


        <!-- `Card for Frequency Distribution -->
        <div class="card">
            <h3>Frequency Distribution</h3>
            <div class="controls">
                <!-- Add Service and Remove Service Buttons -->
                <button class="filter-month-form" id="toggleFilterButton">Filter Month</button>
            </div>

            <!-- Month Filter -->
            <div id="monthFilterContainer" class="month-filter hidden">
                <label for="monthSelect">Filter by Month:</label>
                <select id="monthSelect">
                    <option value="All">All</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sept">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                </select>
                <button id="applyFilterButton">Apply Filter</button>
            </div>


            <!-- Forms for Adding and Removing Services -->
            <div id="add-service-form" style="display: none;">
                <h4>Add Service</h4>
                <form id="serviceForm">
                    <label for="serviceSelect">Select Service:</label>
                    <select id="serviceSelect" name="service">
                        {{#each allServices}}
                            <option value="{{{this.service}}}">{{{this.service}}}</option>
                        {{/each}}
                    </select>
                    <button type="button" id="submitServiceButton">Add</button>
                </form>
            </div>

            <div id="remove-service-form" style="display: none;">
                <h4>Remove Service</h4>
                <form id="removeServiceForm">
                    <label for="removeServiceSelect">Select Service:</label>
                    <select id="removeServiceSelect" name="removeService">
                        {{#each allServices}}
                            <option value="{{{this.service}}}">{{{this.service}}}</option>
                        {{/each}}
                    </select>
                    <button type="button" id="submitRemoveServiceButton">Remove</button>
                </form>
            </div>

            <canvas id="frequencyChart"></canvas>
        </div>


        <!-- `END DASHBOARD GROUP-->

    </div>



    <!--To render the charts-->
    <script src="E_Report.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
